<div class="panel panel-default" ng-controller="SeasonPlayController">
    <div class="panel-heading">
        <h4>Temporada en Juego</h4>
    </div>
    <div class="dependencyForm" ng-show="season.season">
        <!-- Table -->
        <div>
            <div style="text-align: center">
                <pagination class="pagination" total-items="size" items-per-page="1" ng-model="weekPagination" ng-change="weekChanged()"
                            previous-text="Anterior" next-text="Siguiente" first-text="Primero" last-text="Último">
                </pagination>
                <span ng-if="weekPagination != size">
                    <h4>
                        Fecha {{weekPagination}}
                        <button ng-click="playWeek(rounds)" class="btn btn-sm btn-info">Jugar</button>
                    </h4>
                </span>
                <span ng-if="weekPagination == size">
                    <h4>
                        Posiciones Finales
                        <button ng-click="finalizeSeason(editions)" class="btn btn-sm btn-info">Finalizar</button>
                    </h4>
                </span>
            </div>

            <accordion close-others="false">
                <accordion-group ng-repeat="(key, value) in editions | orderBy: ['key']" is-open="true" 
                                 ng-show="rounds[value.id].rounds.games.length > 0 || weekPagination == size">
                    <accordion-heading>
                        <h4>{{key}} > {{value.id}} > {{editions[key].type}}</h4>
                    </accordion-heading>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6" ng-if="weekPagination != size">
                                    <span ng-repeat="(Kkey, Kvalue) in rounds[value.id]">
                                        <span ng-if="Kkey != 'double'">
                                        Partidos
                                        <table class="table">
                                            <tr ng-repeat="game in Kvalue.games">
                                                <td style="width:45%; text-align:right" >{{game.home}}</td>
                                                <td style="width:5%;background-color: #eee; border: 1px solid #999; 
                                                           text-align: center;">
                                                    {{game.homeGoals}}
                                                </td>
                                                <td style="width:5%;background-color: #eee; border: 1px solid #999; 
                                                           text-align: center;">
                                                    {{game.awayGoals}}
                                                </td>
                                                <td style="width:45%; text-align:left" >{{game.away}}</td>
                                            </tr>
                                        </table>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-md-6" ng-class="classLastPage()">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Posiciones</th>
                                                <th>Equipo</th>
                                                <th>Puntos</th>
                                                <th>Pj</th>
                                                <th>Pg</th>
                                                <th>Pe</th>
                                                <th>Pp</th>
                                                <th>Gf</th>
                                                <th>Gc</th>
                                                <th>Dg</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <span ng-if="editions[key].type == 'CUP'">
                                                <tr ng-repeat="item in positions[value.id].positions | 
                                                               orderBy:['final', '-points', '-dg', 'goals']">
                                            </span>
                                            <span ng-if="editions[key].type == 'LEAGUE'">
                                                <tr ng-repeat="item in positions[value.id].positions | 
                                                               orderBy:['-points', '-dg', 'goals', 'final']">
                                            </span>
                                            <td class="alignCenter">
                                                <label ng-class="getColorPosition($index + 1)">
                                                    {{getTextPosition($index + 1)}}
                                                </label>
                                            </td>
                                            <td>{{item.team}}</td>
                                            <td>{{item.points}}</td>
                                            <td>{{item.games}}</td>
                                            <td>{{item.win}}</td>
                                            <td>{{item.tie}}</td>
                                            <td>{{item.lose}}</td>
                                            <td>{{item.goals}}</td>
                                            <td>{{item.received}}</td>
                                            <td>{{item.dg}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6" ng-if="weekPagination == size">
                                    <button ng-click="defineLeague(positions[value.id].positions, value.id)" 
                                            class="btn btn-sm btn-info" ng-show="ties[value.id]">
                                        Definir
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <div class="dependencyForm" ng-show="!season.season">
        <h4>No se encuentra activa ninguna temporada!!!</h4>
    </div>
</div>