<div class="panel panel-default" ng-controller="SeasonPlayController">
    <div class="panel-heading">
        <h4>Temporada en Juego</h4>
    </div>
    <div class="dependencyForm">
        <div class="input-group width100 alignCenter">
            <button type="submit" class="btn btn-warning width30" ng-click="">
                Anterior
            </button>
            <button type="submit" class="btn btn-info width30" ng-click="" >
                Siguiente
            </button>
        </div>

    </div>
</div>