<div class="colorCategory">
    <div class="row">
        <div class="col-md-2">
            IV
        </div>

        <div class="col-md-2">
            III
        </div>

        <div class="col-md-2">
            II
        </div>

        <div class="col-md-2">
            I
        </div>

    </div>

    <hr/>

    <div class="row">
        <div class="col-md-2">
            <i class="fa fa-rocket  colorCategoryBrown"></i> Ligas
        </div>

        <div class="col-md-2">
            <div class="row">
                <i class="fa fa-star  colorCategoryGold"></i> Ligas
            </div>
            <div class="row">
                <i class="fa fa-moon-o  colorCategorySilver"></i> Copas
            </div>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-2"></div>

    </div>

    <hr/>

    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-2">
            <div class="row">
                <i class="fa fa-star  colorCategoryGold"></i> Ligas
            </div>
            <div class="row">
                <i class="fa fa-moon-o  colorCategorySilver"></i> Copas
            </div>
        </div>

        <div class="col-md-2">
            <div class="row">
                <i class="fa fa-university  colorCategoryGold"></i> SL
                <i class="fa fa-diamond  colorCategoryDiamond"></i> DC
            </div>
            <div class="row">
                <i class="fa fa-heart  colorCategoryRed"></i> SC
            </div>
        </div>

        <div class="col-md-2"></div>

    </div>

    <hr/>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>

        <div class="col-md-2">
            <div class="row">
                <i class="fa fa-university  colorCategoryGold"></i> SL
            </div>
            <div class="row">
                <i class="fa fa-diamond  colorCategoryDiamond"></i> DC
            </div>
            <div class="row">
                <i class="fa fa-heart  colorCategoryRed"></i> SC
            </div>
        </div>

        <div class="col-md-2">
            <div class="row">-</div>
            <div class="row">
                <i class="fa fa-trophy  colorCategoryGold"></i> T
            </div>
            <div class="row">-</div>
        </div>

    </div>


</div>