<div ng-controller="TournamentEditionController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{item.name}} (id: {{item.id}}) >> Agregar Edición</h4>
        </div>

        <div class="dependencyForm">
            <form ng-submit="" method="post" name="addEdition" novalidate>
                <div class="width50 marginAuto">
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                            Repetir Participandes
                        </span>
                        <span class="form-control">
                            <input type="checkbox" ng-model="repeat" ng-click="changeState()"/>
                        </span>
                    </div>                    
                    <div class="input-group" ng-show="!repeat">
                        <span class="input-group-addon" id="basic-addon1">
                            Total de Equipos
                        </span>
                        <select ng-options="item as item.value for item in options track by item.value" 
                                ng-model="selectedOption" class="form-control">
                        </select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                            Ida y Vuelta
                        </span>

                        <span class="form-control">
                            <input type="checkbox" ng-model="double"/>
                        </span>
                    </div>
                    <div class="input-group" ng-show="!repeat">
                        <span class="input-group-addon" id="basic-addon1">
                            Agregar
                        </span>
                        <input type="text" ng-model="teamSelected" 
                               typeahead="team.name for team in teams | filter:$viewValue | limitTo:8" 
                               class="form-control" typeahead-on-select="addToList(teamSelected)">
                    </div>

                    <h4>Equipos Agregados</h4>
                    <table>
                        <tr ng-repeat="item in selectedItems">
                            <td>{{item}}</td>
                            <td>
                                <button type="submit" class="btn btn-danger btn-sm" ng-click="remover(item)">
                                    Remover
                                </button>
                            </td>
                        </tr>
                    </table>

                    <input type="hidden" class="form-control" name="id" ng-model="tournament.id" aria-describedby="basic-addon1">
                    <br/>
                    <div class="input-group width100 alignCenter">
                        <button type="submit" class="btn btn-warning width30" ng-click="cancel()">
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-info width30" ng-click="ok()" ng-disabled="addEdition.$invalid">
                            Guardar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>