<div ng-controller="TournamentEditionController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{item.name}} (id: {{item.id}}) >> Agregar Edición</h4>
        </div>
        <div class="dependencyForm">
            <form ng-submit="" method="post" name="addEdition" novalidate>
                <div class="width50 marginAuto">
                    <br/>
                    <div class="input-group width100">
                        <span class="input-group-addon width30" id="basic-addon1">
                            Repetir Participandes
                        </span>
                        <span class="form-control">
                            <div class="checkbox checkbox-primary">
                                <input id="checkRepeat" type="checkbox" ng-model="repeat" ng-click="changeState()"/>
                                <label for="checkRepeat"></label>
                            </div>
                        </span>
                    </div>
                    <div class="input-group width100" ng-show="!repeat">
                        <span class="input-group-addon width30" id="basic-addon1">
                            Total de Equipos
                        </span>
                        <select ng-options="item as item.value for item in options track by item.value" 
                                ng-model="selectedOption" class="form-control">
                        </select>
                    </div>
                    <div class="input-group width100">
                        <span class="input-group-addon width30" id="basic-addon1">
                            Ida y Vuelta
                        </span>
                        <span class="form-control">
                            <div class="checkbox checkbox-primary">
                                <input id="checkDouble" type="checkbox" class="styled" ng-model="double"/>
                                <label for="checkDouble"></label>
                            </div>
                        </span>
                    </div>
                    <div class="input-group width100">
                        <span class="input-group-addon width30" id="basic-addon1">
                            Empieza
                        </span>
                        <input type="number" class="form-control" ng-model="startWeek" aria-describedby="basic-addon1" />
                    </div>
                    <div class="input-group width100">
                        <span class="input-group-addon width30" id="basic-addon1">
                            Tipo
                        </span>
                        <span class="form-control">
                            <div class="radio radio-primary radio-inline">
                                <input type="radio" id="inlineRadio1" value="LEAGUE" name="radioInline" ng-model="type" checked>
                                <label for="inlineRadio1">Liga</label>
                            </div>
                            <div class="radio radio-primary radio-inline">
                                <input type="radio" id="inlineRadio2" value="CUP" name="radioInline" ng-model="type">
                                <label for="inlineRadio2">Copa</label>
                            </div>
                            <div class="radio radio-primary radio-inline">
                                <input type="radio" id="inlineRadio3" value="MIX" name="radioInline" ng-model="type">
                                <label for="inlineRadio3">Mixto</label>
                            </div>
                        </span>
                    </div>
                    <div class="input-group width100" ng-show="!repeat">
                        <span class="input-group-addon width30" id="basic-addon1">
                            Agregar
                        </span>
                        <input type="text" ng-model="teamSelected" 
                               typeahead="team.name for team in teams | filter:$viewValue | limitTo:8" 
                               class="form-control" typeahead-on-select="addToList(teamSelected)">
                    </div>
                    <div class="input-group width100" ng-show="!repeat">
                        <span class="input-group-addon width30" id="basic-addon1">
                            Agregar Campeones
                        </span>
                        <input type="text" ng-model="tournamentSelected" 
                               typeahead="tournament.name for tournament in tournaments | filter:$viewValue | limitTo:8" 
                               class="form-control" typeahead-on-select="selectTournament(tournamentSelected)">
                        <input type="number" ng-model="tournamentTeamsTotal" class="form-control" 
                               placeholder="Por defecto el valor es 1">
                    </div>                    
                    <h4>Equipos Agregados</h4>
                    <table>
                        <tr ng-repeat="item in selectedItems">
                            <td>{{item}}</td>
                            <td>
                                <button type="submit" class="btn btn-danger btn-sm" ng-click="remover(item)">
                                    Remover
                                </button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" class="form-control" name="id" ng-model="tournament.id" aria-describedby="basic-addon1">
                    <br/>
                    <div class="input-group width100 alignCenter">
                        <button type="submit" class="btn btn-warning width30" ng-click="cancel()">
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-info width30" ng-click="ok()" ng-disabled="addEdition.$invalid">
                            Guardar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>